div{
    width: 100vw;
    /* vw는 전체 100% 기준으로 %단위를 생각하면 된다. */
    height: 100vh;
    /* vh또한 똑같다. vw, vh를 잘보면 w,h가 width, height를 뜻한다. */
    background-color: aqua;
}

div p{
    font-size: 10vw;
    /* 글씨 또한 vw, vh를 통해 조절할 수 있다. */
    /* vw는 폭을 통해 글씨 크기 조절 */
    /* vh는 높이를 통해 글씨 크기 조절 */
    color: #333;
    text-align: center;
}

